archive/
*./__pycache__/

# environment variables
.env

# backend server files
backend/credentials.json
backend/token.json
backend/data/
backend/indices/

# chrome extension
extension/node_modules
extension/dist/

# website files
frontend/node_modules